dnslib==0.9.23
validators==0.20.0
redis==4.5.5
jsonschema==3.2.0
uuid==1.30
flask_jwt_extended==3.25.1
flask_restful==0.3.9
datetime==5.1
passlib==1.7.4
sqlalchemy==1.4.31
flask_cors==3.0.10
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.6
flask==1.1.4
MarkupSafe==2.0.1
pyyaml==6.0
